<!-- Vasyliev Anton -->
<!-- Кнопки фільтру -->
<div class="container">
  <div
    class="fav-favorite-button-container"
    id="category-filter-container"
  ></div>
</div>

<!-- Галерея з улюбленими рецептами -->
<div class="container">
  <ul class="fav-recipe-list" id="fav-recipe-list">
    
  </ul>
  <!-- Повідомлення про відсутність улюблених рецептів -->
  <div class="empty-favorites" id="empty-favorites" style="display: none">
    <img
      class="fav-no-cards-img"
      src="./images/favorite-images/no-card-img.png"
      alt="Empty Favorites"
    />
    <p class="no-cards-text">
      It appears that you haven't added any recipes to your favorites yet. To
      get started, you can add recipes that you like to your favorites for
      easier access in the future.
    </p>
  </div>
</div>
