.fav-hide {
   display: none;
}

.fav-no-cards-img {
   width: 97px;
   height: 83px;

}



.no-cards-text {
   max-width: 481px;
   color: var(--primary-text-color);
   text-align: center;
   font-family: Inter;
   font-size: 16px;
   line-height: 24px;
   justify-content: center;
}

.empty-favorites {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.fav-category-filter-button {
   justify-content: center;
   padding: 14px 18px;
   align-items: center;
   border-radius: 15px;
   border: 1px solid var(--primary-text-color-02);
   color: var(--primary-text-color-03);
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px;
   transition: background 0.3s ease, color 0.3s ease;
}

.fav-category-filter-button:hover {
   background-color: var(--accent-color);
   color: #F8F8F8;
   border: 1px solid var(--accent-color);
   border-radius: 15px;
}

.fav-category-filter-button.active {
   background-color: var(--accent-color);
   color: --light-background-color;
   border-radius: 15px;
}

.fav-favorite-button-container {
display: flex;
gap: 18px;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 32px;
}

.fav-recipe-list {
   gap: 24px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

@media screen and (min-width: 768px) {
   .fav-recipe-list {
      gap: 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
   }
}

@media screen and (min-width: 1280px) {
   .fav-recipe-list {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      justify-content: flex-start;
   }
}

.fav-recipe-list-item {
   position: relative;
      width: 335px;
      min-height: 335px;
      border-radius: 9px;
      background: linear-gradient(1deg, #05050599 0%, #05050500 100%);
}

@media screen and (min-width: 768px) {
   .fav-recipe-list-item {
      width: 224px;
      min-height: 244px;
   }
}

@media screen and (min-width: 1280px) {
   .fav-recipe-list-item {
      width: 258px;
      min-height: 287px;
   }
}

.fav-recipe-card-img {
   position: absolute;
   border-radius: 8px;
   height: 100%;
   width: auto;
   background: linear-gradient(1deg, rgba(5, 5, 5, 0.60) 0%, rgba(5, 5, 5, 0.00) 100%);
   display: block;
   object-fit: cover;
   width: 100%;
   height: 100%;
   z-index: -1;
}




.fav-on-favorite-button {
   width: 22px;
   height: 22px;
   position: absolute;
   padding: 0;
   top: 16px;
   right: 16px;
   border: none;
   background-color: transparent;
}

.icon-heart {
   pointer-events: none;
}


.fav-recipe-card-title {
   position: absolute;
   top: 214px;
   left: 16px;
   color: var(--secondary-text-color);
   font-family: Inter;
   font-size: 14px;
   font-weight: 600;
   line-height: 18px;
   text-transform: uppercase;
   white-space: normal;
   -webkit-line-clamp: 1;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}  
   
.fav-recipe-card-descr{
   position: absolute;
   top: 240px;
   left: 16px;
   right: 16px;
/* width: 226px; */
   height: 32px;
   flex-shrink: 0;
   color: var(--secondary-text-color);
   white-space: normal;
   -webkit-line-clamp: 2;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   font-family: Inter;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 16px;
   overflow: hidden;
   text-overflow: ellipsis;
} 

.fav-recipe-card-rating {
position: absolute;
left: 16px;
bottom: 22px;
color: var(--light-background-color);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px;
}

.fav-see-recipe-button {
   position: absolute;
   right: 16px;
   bottom: 16px;
padding: 8px 16px;
justify-content: center;
align-items: center;
color: --light-background-color;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 8px;
background: var(--accent-color);
border: transparent;
transition: color 0.3s ease;
}

.fav-see-recipe-button:hover {
color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
   .fav-recipe-card-title {
      top: 123px;
   }
      
   .fav-recipe-card-descr {
      top: 149px;
   }
}

@media screen and (min-width: 1280px) {
   .fav-recipe-card-title {
      top: 166px;
   }

   .fav-recipe-card-descr {
      top: 192px;
   }
}