<section>
  <div class="container cards">
    <ul class="card_list">
      <li class="card_item">
        <img src="./images/panckakes.png" alt="pancakes" class="card_img" />
        <button class="card_fav">
          <svg
            class="card_heart"
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="20"
            viewBox="0 0 22 20"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.9944 3.70783C9.16163 1.5652 6.10542 0.988839 3.80912 2.95085C1.51282 4.91285 1.18954 8.19323 2.99283 10.5137C4.49215 12.443 9.02961 16.5121 10.5167 17.8291C10.6831 17.9764 10.7663 18.0501 10.8633 18.0791C10.948 18.1043 11.0407 18.1043 11.1254 18.0791C11.2224 18.0501 11.3056 17.9764 11.472 17.8291C12.9591 16.5121 17.4966 12.443 18.9959 10.5137C20.7992 8.19323 20.5154 4.89221 18.1796 2.95085C15.8439 1.00948 12.8271 1.5652 10.9944 3.70783Z"
              stroke="#F8F8F8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="recipe_desc">
          <h3 class="recipe_desc_title">BANANA PANCAKES</h3>
          <p class="recipe_desc_overview">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to
            perfection on a skillet and served with toppings of your choice.
          </p>
          <div class="card_info">
            <p class="card_rating">Rating placeholder</p>
            <button class="recipe_desc_btn">See recipe</button>
          </div>
        </div>
      </li>
      <li class="card_item">
        <img src="./images/panckakes.png" alt="pancakes" class="card_img" />
        <button class="card_fav">
          <svg
            class="card_heart"
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="20"
            viewBox="0 0 22 20"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.9944 3.70783C9.16163 1.5652 6.10542 0.988839 3.80912 2.95085C1.51282 4.91285 1.18954 8.19323 2.99283 10.5137C4.49215 12.443 9.02961 16.5121 10.5167 17.8291C10.6831 17.9764 10.7663 18.0501 10.8633 18.0791C10.948 18.1043 11.0407 18.1043 11.1254 18.0791C11.2224 18.0501 11.3056 17.9764 11.472 17.8291C12.9591 16.5121 17.4966 12.443 18.9959 10.5137C20.7992 8.19323 20.5154 4.89221 18.1796 2.95085C15.8439 1.00948 12.8271 1.5652 10.9944 3.70783Z"
              stroke="#F8F8F8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="recipe_desc">
          <h3 class="recipe_desc_title">BANANA PANCAKES</h3>
          <p class="recipe_desc_overview">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to
            perfection on a skillet and served with toppings of your choice.
          </p>
          <div class="card_info">
            <p class="card_rating">Rating placeholder</p>
            <button class="recipe_desc_btn">See recipe</button>
          </div>
        </div>
      </li>
      <li class="card_item">
        <img src="./images/panckakes.png" alt="pancakes" class="card_img" />
        <button class="card_fav">
          <svg
            class="card_heart"
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="20"
            viewBox="0 0 22 20"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.9944 3.70783C9.16163 1.5652 6.10542 0.988839 3.80912 2.95085C1.51282 4.91285 1.18954 8.19323 2.99283 10.5137C4.49215 12.443 9.02961 16.5121 10.5167 17.8291C10.6831 17.9764 10.7663 18.0501 10.8633 18.0791C10.948 18.1043 11.0407 18.1043 11.1254 18.0791C11.2224 18.0501 11.3056 17.9764 11.472 17.8291C12.9591 16.5121 17.4966 12.443 18.9959 10.5137C20.7992 8.19323 20.5154 4.89221 18.1796 2.95085C15.8439 1.00948 12.8271 1.5652 10.9944 3.70783Z"
              stroke="#F8F8F8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="recipe_desc">
          <h3 class="recipe_desc_title">BANANA PANCAKES</h3>
          <p class="recipe_desc_overview">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to
            perfection on a skillet and served with toppings of your choice.
          </p>
          <div class="card_info">
            <p class="card_rating">Rating placeholder</p>
            <button class="recipe_desc_btn">See recipe</button>
          </div>
        </div>
      </li>
      <li class="card_item">
        <img src="./images/panckakes.png" alt="pancakes" class="card_img" />
        <button class="card_fav">
          <svg
            class="card_heart"
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="20"
            viewBox="0 0 22 20"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.9944 3.70783C9.16163 1.5652 6.10542 0.988839 3.80912 2.95085C1.51282 4.91285 1.18954 8.19323 2.99283 10.5137C4.49215 12.443 9.02961 16.5121 10.5167 17.8291C10.6831 17.9764 10.7663 18.0501 10.8633 18.0791C10.948 18.1043 11.0407 18.1043 11.1254 18.0791C11.2224 18.0501 11.3056 17.9764 11.472 17.8291C12.9591 16.5121 17.4966 12.443 18.9959 10.5137C20.7992 8.19323 20.5154 4.89221 18.1796 2.95085C15.8439 1.00948 12.8271 1.5652 10.9944 3.70783Z"
              stroke="#F8F8F8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="recipe_desc">
          <h3 class="recipe_desc_title">BANANA PANCAKES</h3>
          <p class="recipe_desc_overview">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to
            perfection on a skillet and served with toppings of your choice.
          </p>
          <div class="card_info">
            <p class="card_rating">Rating placeholder</p>
            <button class="recipe_desc_btn">See recipe</button>
          </div>
        </div>
      </li>
      <li class="card_item">
        <img src="./images/panckakes.png" alt="pancakes" class="card_img" />
        <button class="card_fav">
          <svg
            class="card_heart"
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="20"
            viewBox="0 0 22 20"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.9944 3.70783C9.16163 1.5652 6.10542 0.988839 3.80912 2.95085C1.51282 4.91285 1.18954 8.19323 2.99283 10.5137C4.49215 12.443 9.02961 16.5121 10.5167 17.8291C10.6831 17.9764 10.7663 18.0501 10.8633 18.0791C10.948 18.1043 11.0407 18.1043 11.1254 18.0791C11.2224 18.0501 11.3056 17.9764 11.472 17.8291C12.9591 16.5121 17.4966 12.443 18.9959 10.5137C20.7992 8.19323 20.5154 4.89221 18.1796 2.95085C15.8439 1.00948 12.8271 1.5652 10.9944 3.70783Z"
              stroke="#F8F8F8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="recipe_desc">
          <h3 class="recipe_desc_title">BANANA PANCAKES</h3>
          <p class="recipe_desc_overview">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to
            perfection on a skillet and served with toppings of your choice.
          </p>
          <div class="card_info">
            <p class="card_rating">Rating placeholder</p>
            <button class="recipe_desc_btn">See recipe</button>
          </div>
        </div>
      </li>
      <li class="card_item">
        <img src="./images/panckakes.png" alt="pancakes" class="card_img" />
        <button class="card_fav">
          <svg
            class="card_heart"
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="20"
            viewBox="0 0 22 20"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.9944 3.70783C9.16163 1.5652 6.10542 0.988839 3.80912 2.95085C1.51282 4.91285 1.18954 8.19323 2.99283 10.5137C4.49215 12.443 9.02961 16.5121 10.5167 17.8291C10.6831 17.9764 10.7663 18.0501 10.8633 18.0791C10.948 18.1043 11.0407 18.1043 11.1254 18.0791C11.2224 18.0501 11.3056 17.9764 11.472 17.8291C12.9591 16.5121 17.4966 12.443 18.9959 10.5137C20.7992 8.19323 20.5154 4.89221 18.1796 2.95085C15.8439 1.00948 12.8271 1.5652 10.9944 3.70783Z"
              stroke="#F8F8F8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="recipe_desc">
          <h3 class="recipe_desc_title">BANANA PANCAKES</h3>
          <p class="recipe_desc_overview">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to
            perfection on a skillet and served with toppings of your choice.
          </p>
          <div class="card_info">
            <p class="card_rating is-hidden">Rating placeholder</p>
            <button class="recipe_desc_btn">See recipe</button>
          </div>
        </div>
      </li>
      <li class="card_item">
        <img src="./images/panckakes.png" alt="pancakes" class="card_img" />
        <button class="card_fav">
          <svg
            class="card_heart"
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="20"
            viewBox="0 0 22 20"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.9944 3.70783C9.16163 1.5652 6.10542 0.988839 3.80912 2.95085C1.51282 4.91285 1.18954 8.19323 2.99283 10.5137C4.49215 12.443 9.02961 16.5121 10.5167 17.8291C10.6831 17.9764 10.7663 18.0501 10.8633 18.0791C10.948 18.1043 11.0407 18.1043 11.1254 18.0791C11.2224 18.0501 11.3056 17.9764 11.472 17.8291C12.9591 16.5121 17.4966 12.443 18.9959 10.5137C20.7992 8.19323 20.5154 4.89221 18.1796 2.95085C15.8439 1.00948 12.8271 1.5652 10.9944 3.70783Z"
              stroke="#F8F8F8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="recipe_desc">
          <h3 class="recipe_desc_title">BANANA PANCAKES</h3>
          <p class="recipe_desc_overview">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to
            perfection on a skillet and served with toppings of your choice.
          </p>
          <div class="card_info">
            <p class="card_rating">Rating placeholder</p>
            <button class="recipe_desc_btn">See recipe</button>
          </div>
        </div>
      </li>
      <li class="card_item">
        <img src="./images/panckakes.png" alt="pancakes" class="card_img" />
        <button class="card_fav">
          <svg
            class="card_heart"
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="20"
            viewBox="0 0 22 20"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.9944 3.70783C9.16163 1.5652 6.10542 0.988839 3.80912 2.95085C1.51282 4.91285 1.18954 8.19323 2.99283 10.5137C4.49215 12.443 9.02961 16.5121 10.5167 17.8291C10.6831 17.9764 10.7663 18.0501 10.8633 18.0791C10.948 18.1043 11.0407 18.1043 11.1254 18.0791C11.2224 18.0501 11.3056 17.9764 11.472 17.8291C12.9591 16.5121 17.4966 12.443 18.9959 10.5137C20.7992 8.19323 20.5154 4.89221 18.1796 2.95085C15.8439 1.00948 12.8271 1.5652 10.9944 3.70783Z"
              stroke="#F8F8F8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="recipe_desc">
          <h3 class="recipe_desc_title">BANANA PANCAKES</h3>
          <p class="recipe_desc_overview">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to
            perfection on a skillet and served with toppings of your choice.
          </p>
          <div class="card_info">
            <p class="card_rating">Rating placeholder</p>
            <button class="recipe_desc_btn">See recipe</button>
          </div>
        </div>
      </li>
      <li class="card_item">
        <img src="./images/panckakes.png" alt="pancakes" class="card_img" />
        <button class="card_fav">
          <svg
            class="card_heart"
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="20"
            viewBox="0 0 22 20"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.9944 3.70783C9.16163 1.5652 6.10542 0.988839 3.80912 2.95085C1.51282 4.91285 1.18954 8.19323 2.99283 10.5137C4.49215 12.443 9.02961 16.5121 10.5167 17.8291C10.6831 17.9764 10.7663 18.0501 10.8633 18.0791C10.948 18.1043 11.0407 18.1043 11.1254 18.0791C11.2224 18.0501 11.3056 17.9764 11.472 17.8291C12.9591 16.5121 17.4966 12.443 18.9959 10.5137C20.7992 8.19323 20.5154 4.89221 18.1796 2.95085C15.8439 1.00948 12.8271 1.5652 10.9944 3.70783Z"
              stroke="#F8F8F8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="recipe_desc">
          <h3 class="recipe_desc_title">BANANA PANCAKES</h3>
          <p class="recipe_desc_overview">
            Banana pancakes are a fluffy and sweet breakfast dish made with
            mashed ripe bananas, eggs, flour, and a touch of cinnamon, cooked to
            perfection on a skillet and served with toppings of your choice.
          </p>
          <div class="card_info">
            <p class="card_rating">Rating placeholder</p>
            <button class="recipe_desc_btn">See recipe</button>
          </div>
        </div>
      </li>
    </ul>
    <div class="pagination-wrapper">
      <div id="pagination" class="tui-pagination"></div>
    </div>
  </div>
</section>
