
<section class="hero-section">
  <div class="container hero-container">

    <div class="hero-thumb">
      <h1 class="hero-title">Learn to Cook  <span class="hero-title-color">Tasty Treats'</span> Customizable Masterclass</h1>

      <p class="hero-text">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>

      <button type="button" class="hero-btn dark button" data-modal-order-open>
      Order now
      </button>
    </div>

    <div class="master-thumb-swiper">
      <div class="swiper masterclass">

          <ul class="swiper-wrapper">
              <li class="swiper-slide masterclass-item">
              </li>
            </ul>
          
      </div>   
      <div class="swiper-pagination"></div> 
  </div>
    
  </div>
</section>
