<section class="hero-section">
  <div class="container hero-container">

    <div class="hero-thumb">
      <h1 class="hero-title">Learn to Cook  <span class="hero-title-color">Tasty Treats'</span> Customizable Masterclass</h1>

      <p class="hero-text">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>

      <button type="button" class="hero-btn dark button" data-modal-order-open>
      Order now
      </button>
    </div>

    <div class="master-thumb-swiper">
      <div class="swiper masterclass">

          <ul class="swiper-wrapper">
              <li class="swiper-slide masterclass-item">
                <div class="masterChief">
                  <!-- <img srcset="./image/card@2x.jpg 2x" src="./image/card.jpg" alt="master" width="137" height="442"/>                       -->
                </div>
                <div class="dish-thumb">
                    <!-- <img srcset="./image/cook@2x.jpg@2x.jpg 2x" src="./image/cook.jpg" alt="pizza" width="351" height="442"/> -->
                      
                    <div class="dish-content">
                      <h3 class="dish-name">Grilled, smoky, delicious barbecue</h3>
                      <p class="dish-text">Spanish</p>
                    </div>
                    
                </div>
                <div class="dish">
                  <!-- <img srcset="./image/pizza picture@2x.jpg 2x" src="./image/pizza.jpg" alt="pizza" width="351" height="442"/>-->
                </div>
              </li>

              <li class="swiper-slide masterclass-item">
                <div class="masterChief">
                  <!-- <img srcset="./image/card@2x.jpg 2x" src="./image/card.jpg" alt="master" width="137" height="442"/>                       -->
                </div>
                <div class="dish-thumb">
                    <!-- <img srcset="./image/cook@2x.jpg@2x.jpg 2x" src="./image/cook.jpg" alt="pizza" width="351" height="442"/> -->
                      
                    <div class="dish-content">
                      <h3 class="dish-name">Grilled, smoky, delicious barbecue</h3>
                      <p class="dish-text">Spanish</p>
                    </div>
                    
                </div>
                <div class="dish">
                  <!-- <img srcset="./image/pizza picture@2x.jpg 2x" src="./image/pizza.jpg" alt="pizza" width="351" height="442"/>-->
                </div>
              </li>

              <li class="swiper-slide masterclass-item">
                <div class="masterChief">
                  <!-- <img srcset="./image/card@2x.jpg 2x" src="./image/card.jpg" alt="master" width="137" height="442"/>                       -->
                </div>
                <div class="dish-thumb">
                    <!-- <img srcset="./image/cook@2x.jpg@2x.jpg 2x" src="./image/cook.jpg" alt="pizza" width="351" height="442"/> -->
                      
                    <div class="dish-content">
                      <h3 class="dish-name">Grilled, smoky, delicious barbecue</h3>
                      <p class="dish-text">Spanish</p>
                    </div>
                    
                </div>
                <div class="dish">
                  <!-- <img srcset="./image/pizza picture@2x.jpg 2x" src="./image/pizza.jpg" alt="pizza" width="351" height="442"/>-->
                </div>
              </li>
            </ul>
          
      </div>   
      <div class="swiper-pagination"></div> 
  </div>
    
  </div>
</section>
