<section>
  <div class="container">
    <h1 class="hero-primary-text">
      Learn to Cook
      <span class="hero-color-text">Tasty Treats'</span> Customizable
      Masterclass
    </h1>

    <p class="hero-text">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>

    <button type="button" class="hero-btn button">Order now</button>

    <div class="products-thumb-swiper">
      <div class="swiper products">
        <ul class="swiper-wrapper">
          <li class="swiper-slide products-item">
            <div class="cook">
              <!-- <img srcset="./image/card@2x.jpg 2x" src="./image/card.jpg" alt="master" width="137" height="442"/>                       -->
            </div>
            <div class="products-thumb">
              <!-- <img srcset="./image/cook@2x.jpg@2x.jpg 2x" src="./image/cook.jpg" alt="pizza" width="351" height="442"/> -->

              <h3 class="products-name">Grilled, smoky, delicious barbecue</h3>
              <p class="products-text">Spanish</p>
            </div>
            <div class="dish">
              <!-- <img srcset="./image/pizza picture@2x.jpg 2x" src="./image/pizza.jpg" alt="pizza" width="351" height="442"/>-->
            </div>
          </li>

          <li class="swiper-slide products-item">
            <div class="cook">
              <!-- <img srcset="./image/card@2x.jpg 2x" src="./image/card.jpg" alt="master" width="137" height="442"/>                       -->
            </div>
            <div class="products-thumb">
              <!-- <img srcset="./image/cook@2x.jpg@2x.jpg 2x" src="./image/cook.jpg" alt="pizza" width="351" height="442"/> -->

              <h3 class="products-name">Grilled, smoky, delicious barbecue</h3>
              <p class="products-text">Spanish</p>
            </div>
            <div class="dish">
              <!-- <img srcset="./image/pizza picture@2x.jpg 2x" src="./image/pizza.jpg" alt="pizza" width="351" height="442"/>-->
            </div>
          </li>

          <li class="swiper-slide products-item">
            <div class="cook">
              <!-- <img srcset="./image/card@2x.jpg 2x" src="./image/card.jpg" alt="master" width="137" height="442"/>                       -->
            </div>
            <div class="products-thumb">
              <!-- <img srcset="./image/cook@2x.jpg@2x.jpg 2x" src="./image/cook.jpg" alt="pizza" width="351" height="442"/> -->

              <h3 class="products-name">Grilled, smoky, delicious barbecue</h3>
              <p class="products-text">Spanish</p>
            </div>
            <div class="dish">
              <!-- <img srcset="./image/pizza picture@2x.jpg 2x" src="./image/pizza.jpg" alt="pizza" width="351" height="442"/>-->
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
