<div class="order-now-backdrop js-backdrop">
				<div class="order-now-modal">
					<h2 class="order-now-modal__title">Order Now</h2>
					<button class="order-now-modal__close-btn" type="button">
						<svg
							class="order-now-modal-close__img"
							width="20"
							height="20"
							viewBox="0 0 20 20"
							fill="#000"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M15 5L5 15"
								stroke="#050505"
								stroke-width="1.8"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
							<path
								d="M5 5L15 15"
								stroke="#050505"
								stroke-width="1.8"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>
					</button>

					<div class="order-now-form-wrap">
						<form class="order-now-modal-form">
							<label>
								<span>Name</span>
								<input class="order-now-modal-form__input" type="text" value="" />
							</label>
							<label>
								<span>Phone number</span>
								<input class="order-now-modal-form__input" type="text" value="" />
							</label>
							<label>
								<span>Email</span>
								<input class="order-now-modal-form__input" type="email" value="" />
							</label>
							<label>
								<span>Comment</span>
								<textarea name="comment"></textarea>
							</label>
							<button type="submit">Send</button>
						</form>
					</div>
				</div>
			</div>
		</div>