<section>

  <div class="container">
    <div class="backdrop-popup-recipe">
      <div class="pop-up-recipe">
        <svg class="close-recipe-svg" width="18" height="18" data-menu-close>
          <use href="./images/favicon/symbol-defs.svg#icon-closeblack"></use>
        </svg>
        <div id="video-container"></div>
        <h2 class="pop-up-recipe-header"></h2>

        <div class="pop-up-recipe-rating">
          <span class="rating-value"> </span>
       
          <svg class="start-pop-recipe-svg" width="18" height="18">
            <use
              href="./images/favorite-images/symbol-defs-star.svg#icon-star"
            ></use>
          </svg>
          <svg class="start-pop-recipe-svg" width="18" height="18">

            <use href="./images/favorite-images/symbol-defs-star.svg#icon-star"></use>
          </svg> <svg class="start-pop-recipe-svg" width="18" height="18">
            <use href="./images/favorite-images/symbol-defs-star.svg#icon-star"></use>
          </svg> <svg class="start-pop-recipe-svg" width="18" height="18">
            <use href="./images/favorite-images/symbol-defs-star.svg#icon-star"></use>
          </svg> <svg class="start-pop-recipe-svg-grey" width="18" height="18">
            <use href="./images/favorite-images/symbol-defs-grey-star.svg#icon-grey-star"></use>
          </svg></div>
          <div class="pop-up-time"><span class="span-time"></span></div>
          <ul class="recipe-list list">
            <li class="recipe-item"></li>
            <li class="recipe-item"></li>
            <li class="recipe-item"></li>
            <li class="recipe-item"></li>
            <li class="recipe-item"></li>
            <li class="recipe-item"></li>
          </ul>
          <div class="tags-buttons list">
            <button class="tag-btn" type="button"></button>
            <button class="tag-btn" type="button"></button>
            <button class="tag-btn" type="button"></button>
          </div>
          <p class="recipe-description">
           
          </p>
          <button type="button" class="btn-add-recipe-favourite">Add to Favorite</button>
          <button type="button" class="btn-give-rating-recipe">Give a rating</button>

        </div>
        <!--  -->

    
    <script src="https://www.youtube.com/iframe_api"></script>
<!--    <script src="./js/popular-recipe.js"></script> -->
  </section>
 


