.filters {
  display: flex;
  flex-wrap: wrap;
}

.search_label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search_input {
  display: flex;
  min-width: 335px;
  height: 46px;
  padding: 14px 122px 14px 18px;
  align-items: flex-start;
  gap: 32px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  color: rgba(5, 5, 5, 0.5);
  outline: none;
}

.search_input::placeholder {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.label_desc {
  display: inline-block;
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16x;
  margin-bottom: 8px;
}

.time {
  display: flex;
  flex-direction: column;
}

.time_select {
  display: flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 59px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  margin-bottom: 14px;
  outline: none;
}

.time_select option {
  color: rgba(5, 5, 5, 0.3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.ingredients_select {
  display: flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 59px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  margin-bottom: 14px;
  outline: none;
}

.ingredients_select option {
  color: rgba(5, 5, 5, 0.3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.area_select {
  display: flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 59px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  margin-bottom: 14px;
  cursor: pointer;
  outline: none;
}

.area_select option {
  cursor: pointer;
  color: rgba(5, 5, 5, 0.3);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}
