.hero-primary-text {
  width: 335px;
  margin-bottom: 14px;

  color: #050505;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 31.2px */
  text-transform: uppercase;
}

.hero-color-text {
  color: #9bb537;
  font-family: Inter;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .hero-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .hero-thumb {
    margin-right: 32px;
  }
}

.hero-title {
  margin-bottom: 14px;

  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

@media screen and (min-width: 375px) {
  .hero-title {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 446px;
    margin-bottom: 16px;

    font-size: 36px;
  }
}

.hero-title-color {
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;

  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .hero-title-color {
    font-size: 36px;
  }
}

.hero-text {
  width: 335px;
  margin-bottom: 28px;

  color: #050505;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

.hero-btn {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  border: 1px solid #9bb537;

  color: #050505;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-bottom: 48px;
}

/* Swiper */

.products-thumb-swiper {
  position: relative;
}

@media screen and (min-width: 375px) {
  .hero-text {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .hero-text {
    width: 408px;
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1280px) {
  .hero-text {
    margin-bottom: 32px;

    font-size: 16px;
  }
}

.dark {
  color: var(--light-text-color);
}

.hero-btn {
  padding: 10px 20px;
  margin-bottom: 48px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 500;
  line-height: normal;

  color: var(--primary-text-color);
  border-radius: 12px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .hero-btn {
    padding: 14px 28px;
    margin-bottom: 64px;

    border-radius: 15px;
    border: 1px solid var(--accent-color);
  }
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--light-text-color);
  background-color: var(--accent-color);
}

/* Swiper ============================================*/

.master-thumb-swiper {
  position: relative;
  min-height: 302px;
}

@media screen and (min-width: 375px) {
  .master-thumb-swiper {
    width: 355px;
  }
}

@media screen and (min-width: 768px) {
  .master-thumb-swiper {
    width: 736px;
    min-height: 468px;
  }
}

@media screen and (min-width: 1280px) {
  .master-thumb-swiper {
    width: 702px;
  }
}

/* display: flex;
  align-items: center;
  gap: 8px;
} */

.products-thumb-swiper > .swiper-pagination {
  bottom: -4px;
}

@media screen and (min-width: 305px) and (max-width: 375px) {
  .products-thumb-swiper > .swiper-pagination {
    bottom: -38px;
  }
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: var(--color-product-text);
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 50px;
  background-color: var(--color-orange);
}

/* .swiper {
    width: 300px;
    height: 150px;
  } */

.cook {
  width: 80px;
  height: 280px;

  border-radius: 15px;
  background: #050505;
}

.products-thumb {
  width: 200px;
  height: 280px;

  border-radius: 15px;
  border: 1px solid rgba(155, 181, 55, 0.3);
  background: #050505;
  background: radial-gradient(circle at center, #9bb537, #000000 80px);
}

.products-name {
  color: rgba(248, 248, 248, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 140% */
  text-transform: uppercase;
}

.products-text {
  color: rgba(248, 248, 248, 0.2);
  text-align: center;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 150% */
}

.dish {
  width: 200px;
  height: 280px;

  border-radius: 15px;
  background: #050505;
}

@media screen and (min-width: 768px) {
  .dish {
    width: 351px;
    height: 442px;
  }
}

.master-thumb-swiper > .swiper-pagination {
  bottom: -4px !important;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: var(--primary-text-color);
  border-radius: 50%;
  opacity: inherit;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--accent-color);
}
