.btn-up {
  position: fixed; /* фиксированная позиция */
  background-color: var(--accent-color);
  right: 10px; /* расстояние от правого края */
  bottom: 0px; /* расстояние от нижнего края */
  border-top-left-radius: 10px; /* скругление верхнего левого угла */
  border-top-right-radius: 10px; /* скругление верхнего правого угла */
  cursor: pointer; /* форма курсора */
  display: flex; /* не отображать элемент */
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  width: 80px;
  height: 100px;
  opacity: 0.6;
}

.btn-up::before {
  content: '';
  width: 50px;
  height: 50px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    opacity: 1;
    background-color: var(--accent-color);
  }
}
